

.posts {
    width: 80%;
    /*background-color: cadetblue;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts__title {
    font-size: 100px;

}

.posts__list {
    list-style-type: none;
    padding: 0;
}

.posts__item {
}